@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    /* Primary text colors */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    /* Background gradient: */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    /* Neutral text */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
    background-repeat: no-repeat;
}

body {
    line-height: 1.5;
}

.main-container {
    display: flex;
    width: 65%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 18vh auto 1vh;
}

.image-container {
    width: 30vw;
    height: 33em;
    position: relative;
}

.image-container-desktop {
    width: 100%;
    overflow: hidden;
}

.img-bg-pattern {
    position: relative;
    width: 45em;
    height: auto;
    top: -10em;
    left: -21em;
}

.img-woman {
    position: relative;
    top: -40em;
    left: -5em;
}

.img-box {
    position: absolute;
    width: auto;
    height: auto;
    top: 13em;
    left: -6em;
}

.faq-container {
    font-size: 15px;
    padding: 0 37px 37px 37px;
}

.faq-container h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
    margin: 50px 0px 20px;
}

.accordion {
    font-size: 15px;
    background-color: transparent;
    color: var(--very-dark-grayish-blue);
    cursor: pointer;
    padding: 16px 0px;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: var(--light-grayish-blue) solid 1px;
    transition: 0.4s;
    margin-bottom: 5px;
}

.accordion.active, .accordion:hover {
    color: var(--soft-red);
    font-weight: 700;
}

.accordion-content {
    color: var(--dark-grayish-blue);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}